body {
    background: rgb(32, 0, 58);
}

.container {
    margin: 3em auto;
    width: 90%;
    height: 500px;
    padding: 2em;
    border: solid white;
    border-radius: 50px;
    background: #3e3a3a;
}

.box {
    display: inline-block;
    padding: 20px;
    background: white;
    margin-left: 0;
    position: absolute;
    animation: slide 2s linear 1s 1;
}

@keyframes slide {
    0% {
    left: 50px;
}
    25% {
    left: 200px;
}
    50% {
    left: 400px;
}
    75% {
    left: 600px;
    background: black;
}
    100%{
    left: 50px;
    }
}

.ball{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    animation: bounce 1.5s ease-out 3s infinite;
}

@keyframes bounce {
    0% {
    top: 70px;
}
    50% {
    top: 400px;
    background-color: purple;
}
    100%{
    top: 70px;
    }
}

.shape {
    width: 200px;
    height: 200px;
    background: maroon;
    position: absolute;
    clip-path: polygon(20% 30%,  50% 30%, 20% 100%, 80% 20%);
    animation: shape 3s ease-out 5s 5;
}

@keyframes shape {
0% {left:200px; top:20px;}
25% {left:800px; top:20px;}
50% {left:700px; top:200px;}
75% {left:500px; top:200px;}
100% {left:200px; top:20px;}
}